<button class="btn btn-primary mb-3" (click)="showForm = true" *ngIf="!showForm">Add Stock</button>

<form *ngIf="showForm" (ngSubmit)="addStock()" #stockForm="ngForm" class="mb-4 center-modal-form">
    <div class="mb-2">
        <label>Symbol *</label>
        <input type="text" class="form-control" required [(ngModel)]="newStock.symbol" name="stockName">
    </div>
    <div class="mb-2">
        <label>Category</label>
        <input type="text" class="form-control" [(ngModel)]="newStock.category" name="stockCategory">
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!newStock.symbol">Submit</button>
    <button class="btn btn-secondary ms-2" type="button" (click)="showForm = false">Cancel</button>
</form>

<div *ngFor="let category of groupedStocks | keyvalue" class="mb-5">
    <h4>{{ category.key }}</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of category.value">
                <td class="position-relative stock-hover-group">
                    <div
                        (mouseenter)="hoveredStock = stock"
                        (mouseleave)="hoveredStock = null"
                        style="display: inline-block; position: relative;"
                    >
                        <span class="stock-name-hover">
                          {{ stock.companyName }}
                        </span>
                        <div class="stock-url-popup" *ngIf="hoveredStock === stock">
                          <a *ngIf="stock.growwUrl" [href]="stock.growwUrl" target="_blank" title="Groww">
                            <img src="assets/images/icons/groww.svg" alt="Groww" width="28" height="28" />
                          </a>
                          <a *ngIf="stock.screenerUrl" [href]="stock.screenerUrl" target="_blank" title="Screener">
                            <img src="assets/images/icons/screener.svg" alt="Screener" width="28" height="28" />
                          </a>
                          <a *ngIf="stock.trendlyneUrl" [href]="stock.trendlyneUrl" target="_blank" title="Trendlyne">
                            <img src="assets/images/icons/trndlyne.svg" alt="Trendlyne" width="28" height="28" />
                          </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>