<div class="mb-4 center-modal-form">
    <div class="mb-2">
        <input 
            type="text" 
            class="form-control" 
            [(ngModel)]="newStock.symbol" 
            name="stockSymbol"
            (input)="onSymbolInput($event)"
            placeholder="Enter stock symbol* (e.g., RELIANCE, TCS)"
            autocomplete="off">
        <small class="text-muted">Stock will be added automatically after 1 second of no typing</small>
    </div>
</div>

<div *ngFor="let category of groupedStocks | keyvalue" class="mb-5">
    <h4>{{ category.key }}</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of category.value">
                <td class="position-relative stock-hover-group">
                    <div
                        (mouseenter)="hoveredStock = stock"
                        (mouseleave)="hoveredStock = null"
                        style="display: inline-block; position: relative;"
                    >
                        <span class="stock-name-hover">
                          {{ stock.companyName }}
                        </span>
                        <div class="stock-url-popup" *ngIf="hoveredStock === stock">
                          <a *ngIf="stock.growwUrl" [href]="stock.growwUrl" target="_blank" title="Groww">
                            <img src="assets/images/icons/groww.svg" alt="Groww" width="28" height="28" />
                          </a>
                          <a *ngIf="stock.screenerUrl" [href]="stock.screenerUrl" target="_blank" title="Screener">
                            <img src="assets/images/icons/screener.svg" alt="Screener" width="28" height="28" />
                          </a>
                          <a *ngIf="stock.trendlyneUrl" [href]="stock.trendlyneUrl" target="_blank" title="Trendlyne">
                            <img src="assets/images/icons/trndlyne.svg" alt="Trendlyne" width="28" height="28" />
                          </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>