<app-search (stockSelected)="onStockSelected($event)"></app-search>

<!-- <div class="mb-5">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th><input type="checkbox" /></th>
        <th>STRATEGY</th>
        <th>TIMEPLAY</th>
        <th>SYMBOL</th>
        <th>RECENT VALUE</th>
        <th>ALERT</th>
        <th>SIGNAL DT</th>
        <th>STATUS</th>
        <th>ENTRY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td><input type="checkbox" /></td>
        <td>{{ stock.strategy || 'N/A' }}</td>
        <td>{{ stock.timeplay || 'N/A' }}</td>
        <td>
          <a href="#" class="text-primary font-weight-bold">{{ stock.symbol || stock.stockName }}</a>
        </td>
        <td>{{ stock.recentValue || 'N/A' }}</td>
        <td [ngClass]="{'text-success': stock.alert === 'LONG', 'text-danger': stock.alert === 'SHORT'}">
          {{ stock.alert || 'N/A' }}
        </td>
        <td>{{ stock.signalDt || 'N/A' }}</td>
        <td>
          <span [ngClass]="{
            'text-primary': stock.status === 'ACTIVE',
            'text-danger': stock.status === 'SL MET',
            'text-success': stock.status === 'T3 MET' || stock.status === 'T2 MET',
            'text-secondary': stock.status === 'EXIT'
          }">
            {{ stock.status || 'N/A' }}
          </span>
        </td>
        <td>{{ stock.entry || 'N/A' }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
